{:title "Brian Sunter"
 :site "bsun.io"
 :photo-site "photos.bsun.io"
 :description "My name is Brian Sunter and I'm a software engineer in San Francisco."
 :social-profiles
 [{:name "Github" :link "https://github.com/briansunter" :type :github}
  {:name "LinkedIn" :link "https://www.linkedin.com/in/brian-sunter-9853a649/" :type :linkedin}
  {:name "Instagram" :link "https://www.instagram.com/bsunter" :type :instagram}
  {:name "Twitter" :link "https://twitter.com/bsunter" :type :twitter}]}
